@tailwind base;
@tailwind components;
@tailwind utilities;



/* ---animations----- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
@keyframes showKeyboard {
	from {
		max-height: 0px;
	}
	to {
		max-height: 200px;
	}
}

@keyframes hideKeyboard {
	from {
		max-height: 200px;
	}
	to {
		max-height: 0px;
	}
}
